<!-- Это временная секция, здесь ссылки на все страницы. На продакшене ее не будет -->
<section class="section">
    <div class="container">
        <style>
            .temp {
                gap: 15px;
                display: flex;
                flex-direction: column;
            }

            .temp__link {
                color: inherit;
                font-size: 16px;
                text-decoration: underline;
            }

            .temp__link:hover {
                text-decoration: none;
            }
        </style>
        <div class="temp">
            <a href="./index.html" class="temp__link">Главная</a>
            <a href="./zayavka.html" class="temp__link">Заявка на тех. присоединение</a>
            <a href="./services.html" class="temp__link">Услуги</a>
            <a href="./contacts.html" class="temp__link">Контакты</a>
            <a href="./rent.html" class="temp__link">Аренда техники</a>
            <a href="./service.html" class="temp__link">Обслуживание электрооборудования</a>
            <a href="./construction.html" class="temp__link">Строительство электросетевых объектов</a>
            <a href="./docs.html" class="temp__link">Выдача документации</a>
            <a href="./organisation.html" class="temp__link">Организация наружного освещения</a>
            <a href="./404.html" class="temp__link">404</a>
            <a href="./about.html" class="temp__link">О компании</a>
            <a href="./faq.html" class="temp__link">FAQ</a>
            <button data-fancybox data-src="#modalTechConnectionStart" class="temp__link">Modal Оформление заявки</button>
            <button data-fancybox data-src="#modalTechConnectionParams" class="temp__link">Modal Заявка на технологическое присоединение</button>
            <button data-fancybox data-src="#modalTechConnectionFIZ" class="temp__link">Modal Введите свои данные / FIZ litso</button>
            <button data-fancybox data-src="#modalTechConnectionJUR" class="temp__link">Modal Введите данные юридического лица / JUR litso</button>
            <button data-fancybox data-src="#modalTechConnectionSuccess" class="temp__link">Modal Ваша заявка успешно отправлена!</button>
            <button data-fancybox data-src="#modalCallBack" class="temp__link">Modal Обратный вызов</button>
            <button data-fancybox data-src="#modalRent" class="temp__link">Modal Аренда техники</button>
            <button data-fancybox data-src="#modalTechUniversalFIZ" class="temp__link">Modal Универсальная</button>
        </div>
    </div>
</section>
