.editor {
  display: block;
  width: 100%;

  &--accent {
    strong {
      color: $color-accent;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }

  &--16 {
    font-size: rem(16);
  }

  &--18 {
    font-size: rem(18);
  }

  &--center {
    text-align: center;
    @include r($tablet) {
      text-align: left;
    }
  }

  h1,
  h2 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1em;
  }

  h3,
  h4,
  h5 {
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1em;
  }

  h1 {
    font-size: rem(50);
    @include r($tablet) {
      font-size: rem(44);
    }
  }

  h2 {
    font-size: rem(44);
    @include r($tablet) {
      font-size: rem(36);
    }
  }

  h3 {
    font-size: rem(36);
    @include r($tablet) {
      font-size: rem(24);
    }
  }

  // Используется
  h4 {
    font-size: rem(24);
    @include r($tablet) {
      font-size: rem(20);
    }
  }

  h5 {
    font-size: rem(20);
    @include r($tablet) {
      font-size: rem(16);
    }
  }

  h6 {
    font-size: rem(16);
  }

  p {
    margin-bottom: 2rem;
    @include r($tablet) {
      margin-bottom: rem(30);
    }
  }

  ul,
  ol {
    list-style: auto;
    list-style-position: inside;
    margin-bottom: 2rem;
    @include r($tablet) {
      margin-bottom: rem(30);
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 1rem;
  }

  blockquote {
    font-weight: 300;
    position: relative;
    font-size: rem(24);
    margin-bottom: 2rem;
    padding: rem(33) rem(72);
    @include r($tablet) {
      font-weight: 400;
      font-size: rem(20);
      margin-left: rem(-15);
      margin-right: rem(-15);
      margin-bottom: rem(30);
      padding: rem(30) rem(30) rem(30) rem(42);
    }

    &:before {
      content: "";
      top: rem(33);
      left: rem(50);
      width: rem(2);
      display: block;
      bottom: rem(33);
      position: absolute;
      @include r($tablet) {
        left: rem(30);
        top: rem(30);
        bottom: rem(30);
      }
    }
  }

  figure {
    display: block;
    margin-bottom: 2rem;
    @include r($tablet) {
      margin-bottom: rem(30);
    }
  }

  picture {
    width: 100%;
    height: auto;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(20);
  }

  figcaption {
    display: block;
    font-weight: 400;
  }

  strong,
  b {
    font-weight: 600;
  }

  i {
    font-style: italic;
  }
}