.slider {
  position: relative;
  height: fit-content;

  &__pagination {
    position: absolute;
    left: 0;
    bottom: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4px;
    z-index: 1;
    pointer-events: none;

    .bullet {
      display: flex;
      width: 100%;
      max-width: 44px;
      height: 6px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.40);
      transition: .2s linear;
      pointer-events: auto;
      cursor: pointer;
      @include r($mobile) {
        max-width: 30px;
        height: 5px;
      }

      &--active {
        max-width: 117px;
        background-color: $color-accent;
        @include r($mobile) {
          max-width: 50px;
        }
      }
    }
  }

  &--history {
    .swiper-slide {
    }
  }

  &--thumbs {
    max-width: 550px;

    .swiper-slide {
      height: auto;
    }
  }

  &--hidden {
    @include rmin($mobile) {
      .swiper-slide {
        opacity: 0;
        visibility: hidden;
        transition: .2s linear;
      }
      .slider__slide--visible,
      .swiper-slide-next {
        opacity: 1;
        visibility: visible;
      }
      .swiper-slide-prev {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &--control {
    margin: 0 auto;
    max-width: 310px;
    height: 70px;
    @include r($mobile) {
      display: none;
    }

    .swiper {
      position: static;
      height: 100%;

      &-wrapper {
        position: static;
      }
    }

    .slider__controls {
      width: calc(100% + 130px);
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 35px);
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    pointer-events: none;

    @include r($mobile) {
      width: calc(100% + 20px);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.10), 0 2px 6px 0 rgba(0, 0, 0, 0.07);
    pointer-events: auto;

    svg {
      fill: $color-accent;
      max-width: rem(15);
      max-height: rem(13);
    }
    &--small {
      width: 24px;
      height: 24px;
      background-color: $color-accent;
      svg {
        fill: $color-light;
      }
    }
  }

  &__button--next {
  }

  &__button--prev {
    transform: rotate(180deg);
  }

  &--overflow {
    overflow: visible;
  }

  &--basic {
    width: 100%;
    max-width: rem(865);
    margin: 0 auto;

    .slider--basic__slide-pic {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
        transition: all .3s ease-in-out;
      }
    }

    .slider__slide--visible {
      .slider--basic__slide-pic:after {
        opacity: 0;
      }
    }
  }

  &--basic__slide {
    height: rem(550);
    @include r($mobile) {
      height: 156px;
    }
  }

  &--basic__slide-pic {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: rem(845);
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &--mob-min {
    @include r($mobile) {
      .swiper-slide {
        max-width: 241px;
      }
    }
  }
}
