.tabs {
  &__controls {
    position: relative;
    z-index: 2;
  }
  &__list {
    min-height: rem(150);
  }

  &__item {
    display: none;
    width: 100%;
  }

  &__item.active {
    display: flex;
    @include r($mobile) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__trigger {
    user-select: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
}
